<div class='d-flex justify-content-center'>
  <div class='event_info'>
    <h1><%= @event.title %></h1>
    <h2><%= @event.start %></h2>
    <p><%= @event.user.email %></p>
    <p><%= @event.location %></p>
    <p><%= @event.spots %></p>
    <hr>
    <p><%= @event.description %></p>
  </div>

  <div class='event_image'>
    <%= cl_image_tag(@event.photo.key, crop: :fill, width: 460) %>
    <div class='RSVP'>
      <div class='d-flex RSVP_options'>
        <button>I'm Going</button>
        <button>Maybe</button>
        <button>Can't Go</button>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit',  edit_event_path(@event) %>
<%= link_to 'Delete',  event_path(@event), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
